:host {
  display: block;
  padding: 24px;
}

.app-form {
  display: block;
  margin: auto;
  width: 240px;
  padding: 24px 8px;
}

.app-input, .app-button {
  display: block;
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
}

.app-input {
  margin-bottom: 16px;
  color: #495057;
  background-color: #ffffff;
  border: 1px solid #e9e9e9;
}

.app-button {
  color: #ffffff;
  background-color: #bada55;
  border-color: #A9C54D;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
}

.app-error {
  margin-bottom: 16px;
  color: #ee0000;
  font-size: 12px;
}

.app-input.ng-touched.ng-invalid {
	border: 1px solid #ee0000;
}
