<form *ngIf="!isLoggedIn; else userBlock" [formGroup]="form" (ngSubmit)="onSubmit()" class="app-form">
  <div *ngIf="errorMessage | async" class="app-error">
    {{errorMessage.value}}
  </div>
  <div>
    <input type="text" formControlName="user" placeholder="Username" autofocus class="app-input">
  </div>
  <div *ngIf="user.invalid && (user.dirty || user.touched)" class="app-error"> 
    <div *ngIf="user.errors.required">
      User name is required.
    </div>
    <div *ngIf="user.errors.minlength">
      User name must be at least 3 characters long.
    </div>
  </div>
  <div>
    <input type="password" formControlName="password" placeholder="Password" class="app-input">
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="app-error">
      <div *ngIf="password.errors.required">
        Password is required.
      </div>
      <div *ngIf="password.errors.minlength">
        Password must be at least 3 characters long.
      </div>
    </div>      
  </div>
  <button type="submit" [disabled]="inProgress | async" class="app-button">Login</button>
</form>
<ng-template #userBlock>You are logged in! Go and see the <a href="/products">Products</a></ng-template>