<h2 class="app-subtitle">
  Products
</h2>
<div>
  <table class="app-table">
    <thead>
      <tr class="app-table__row">
        <th class="app-table__head-cell">Id</th>
        <th class="app-table__head-cell">Name</th>
        <th class="app-table__head-cell">Price</th>
        <th class="app-table__head-cell">Description</th>
      </tr>
    </thead>
    <tbody class="app-table__body">
      <tr *ngFor="let product of products" class="app-table__row">
        <td class="app-table__cell">{{product.productID}}</td>
        <td class="app-table__cell">{{product.name}}</td>
        <td class="app-table__cell">{{product.price}}</td>
        <td class="app-table__cell">{{product.description}}</td>
      </tr>
    </tbody>
  </table>
</div>