:host {
  display: block;
  padding: 24px;
}

.app-subtitle {
  padding: 16px 0;
}

.app-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.app-table__row {
  border-bottom: 1px solid #f2f2f2;
}

.app-table__head-cell {
  font-size: 14px;
  color: #333333;
  line-height: 1.4;
  text-transform: uppercase;
  padding-top: 21px;
  padding-bottom: 21px;
}

.app-table__cell {
  font-size: 15px;
  line-height: 1.4;
  padding-top: 16px;
  padding-bottom: 16px;
}